@import "src/style.module.scss";
.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.4s;
}
.header {
  background: rgba(18, 24, 41, 0.8) !important;
  backdrop-filter: blur(40px);
  width: 100% !important;
  height: 80px;
  @include Myflex(center, row);
  &-inner {
    width: $container-width;
    height: 100%;
    @include Myflex(space-between, row);

    .menuUl {
      @include Myflex(center, row);
      margin: 0;
      li a {
        position: relative;
        display: inline-block;
        margin-left: 48px;
        letter-spacing: 0.02em;
        font-weight: 600;
        color: #a8aebf;
        transition: 0.4s;
        i {
          font-size: 17px;
        }
        &:hover {
          transform: scale(1.2);
        }
        &.active {
          color: #7b6ef6;
          border-bottom: 1px solid #7b6ef6;
        }
        .counter {
          display: inline-block;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 10px;
          transform: translate(13px, -11px);
          color: white;
          background-color: #7b6ef6;
          width: 15px;
          height: 15px;
          @include Myflex(center, row);
          border-radius: 50%;
        }
      }
    }
  }
}
